class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :ahoy_counters do |t|
      t.string :mailer
      t.string :name
      t.text :url
      t.integer :total, default: 0
      t.integer :unique, default: 0
      t.binary :data
      t.datetime :created_at
    end

    add_index :ahoy_counters, [:mailer, :name, :url], unique: true
  end
end
