class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :ahoy_email_hits do |t|
      t.string :campaign
      t.string :event_type
      t.text :url
      t.integer :total, default: 0
      t.integer :unique, default: 0
      t.binary :data
      t.datetime :created_at
    end

    add_index :ahoy_email_hits, [:campaign, :event_type, :url], unique: true
  end
end
